<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Salle</title>
</head>
    <body>
        <img src="/images/upjv.png" alt="" width="100" height="100">
        <h1>Salles : {{ numero }}</h1>
        <p>
            Voici quelques informations concernant la salles numéro : {{ numero }}.<br \>
            blablablablabla {{ numero }} blablablabla {{ numero }} blablablabla
        </p>
        <p>lien vers <a href="{{ path('salle_tp_afficher', { 'numero': numero + 1 }) }}">Suivante</a></p>
        <p>lien vers <a href="{{ path('salle_tp_accueil') }}">Accueil</a></p>
    </body>
</html>